<div class="toolbar-container">
  <mat-toolbar color="primary">

    <div fxLayout="row" class="toolbar-row" fxLayoutAlign="center center">

      <div>
        <button mat-button [matMenuTriggerFor]="menu">
          Select View
          <mat-icon>expand_more</mat-icon>
        </button>
      
        <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
          <button mat-menu-item routerLink="/basic-cube">Basic Cube</button>
          <button mat-menu-item routerLink="/wth-cube">WTH Cube</button>
        </mat-menu>
      </div>

    </div>

  </mat-toolbar>
</div>
<router-outlet></router-outlet>
